.contacto{
    border-radius: 4px;
    border-style: groove;
    border-radius: $borderRad2;
    border-color: $borderCol;
    width: 70vw;
    padding: 20px;
}
.FormPlace{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
.FormContacto{
    @include d-flex(center,center,row);
}
