.contacto{
    border-style: groove;
    border-radius: $borderRadius2;
    border-color: $borderCol;
    width: 70vw;
    padding: map-get($map: $padd, $key:veinte );;
}
.FormPlace{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
.FormContacto{
    @include d-flex(center,center,row);
}
