.error{
    @include d-flex(center, center, column);
    background-image: url(../imagenes/Imagenes/rotos.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: $borderRadius2;
    height: 80vh;
}

.TextError{
    font-size: map-get($map: $FontSize, $key: xl );
    color: rgb(226, 7, 7) ;
    text-decoration: none;
}