.footer{
    padding: 20px;
    width: 96vw;
    margin-left: 0px;
    @include d-flex(space-between, center, row-reverse);
    background-color: black;
    border-style: double;
    border-style: solid;
    border-color: rgb(226, 7, 7);
    border-radius: $borderRad;
    border-width: 3px;
}

#footerSize{
    
    width: 100vw;
}

.list-adress{
    width: 30vw;
}

.maps{
    width: 40vw;
}
