.header{
    margin-right: 0px;
    width: 95vw;
    background: $backG;
    border-style: solid;
    border-color: $borderCol;
    border-radius: $borderRadius;
    border-width: 3px;
    box-shadow: $boxShadow;
    
    
}

nav {

    a{

        &:hover{
            color: red;
            text-decoration: overline;
            transform: translateY(5px);
            text-shadow: $textShadow;
            transition: transform .8s;
        }
    }
}


