
@media screen and (max-width: 780px){
    .Contact{
        @include d-flex(center, center, column);
    }

    .h3-maps{
        width: 40vw;
        padding: 15px;
    }

    .TableX{
        @include d-flex(center, center, column);
    }

    .mg-l{
        margin: 0px;
    }

    .table-ortopedia{
        width: 55vw;
        
    }

    .table-fonoau{
        width: 50vw;
    }

    .tableServicios{
        margin-bottom: 50px;
    }

    .Ubica{
        padding: 0px;
        margin: 5px;
    }
}





















@media screen and (max-width: 552px){
    .list-adress{
        width: inherit;
    }
    .maps{
        width: 90vw;
    }
    .table-prod-arm{
        width: 60vw;
        height: auto;
        display: flex;
        justify-content: center;}
}


@media screen and (max-width: 430px){
    figure{
        font-size: map-get($map: $FontSize, $key:sm );
    }
    .container-sm{
        display: flex;
        justify-content: space-evenly;
    }
    .container-prod{
       @extend .container-sm;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    

    .header{
        width: 95vw;
    }
    .header img{
        width: 40vw;
    }

    .text-gray{
        font-size: 15px;
        padding: map-get($map: $padd, $key:quince );;
    }

    .title-anim{
        font-size: map-get($map: $FontSize, $key: xl );
    }

    .table-ortopedia{
        margin-left: 0%;
        width: 80vw;
        
    }

    .table-fonoau{
        width: 60vw;
    }

    .table-prod-arm{
        padding: map-get($map: $padd, $key:diez );
        width: 60vw;
        height: auto;
        display: flex;
        justify-content: center;}

    .gap img{
        width: 8vw;
        height: 5vh;
    }

    .text-white{
        font-size: 10px;
        margin-left: 10px;
        font-size: 12px;
        
    }

    

    .Ubica{
        padding: map-get($map: $padd, $key:veinte );
    }

    .text-area{
        width: 50vw;
        height: auto;
    }

    .contacto{
        font-size: 10px;
    }
    .Caja{
        font-size: 15px;
        margin-left: 85px;
    }

    .mg-l{
        margin-top: 50px;
    }
    
    .mainServ{
        height: auto;
    }
    
    .tableServicios{
        width: 80vw;
    }
}